body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 42px;

}
.name-color{
    color: rgb(243, 197, 14);
}
.hire-link{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 155, 29), tomato);
    padding: 10px 40px;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 700px;
    margin-top: 20px;
}
.falaxibal-containar{
    display: flex;
}
.blog{
    width: 50%;
    padding: 5%;
}
.blog img{
    width: 80%;
    padding: 10%;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.name{
    color: rgb(243, 197, 14);
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(228, 155, 29), tomato);
    padding: 10px 40px;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 700px;
    margin-top: 40px;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.pro-color{
    color: rgb(243, 197, 14);
}
.exp-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.blog-2{
  
    width: 40%;
    padding: 20px;
    box-shadow: 10px 10px 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 5px solid blue;

}
#bwd{
    border-left: 5px solid orange ;
}